<section class="home">
<img src="../../assets/back.jpg" alt="nothing">

<div class="homecontent">
<h1>Start Learning For  Future bright</h1>
<a routerLink="course" class="btn btn-lg btn-light">Discover Courses</a> &nbsp;
<a routerLink="joinnow" class="btn btn-lg btn-primary">Join Now</a>

</div>
</section>

<br><br>
<div class="card-deck">
  <div class="card border-danger mb-3" >
    <img src="https://images.pexels.com/photos/6293006/pexels-photo-6293006.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
    <div class="card-body text-danger">
      <h5 class="card-title">Danger card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-success mb-3">
    <img src="https://images.pexels.com/photos/6958558/pexels-photo-6958558.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
    <div class="card-body text-success">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-warning mb-3">
    <img src="https://images.pexels.com/photos/4962557/pexels-photo-4962557.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
    <div class="card-body text-warning">
      <h5 class="card-title">Warning card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
